<h3> Hello <%= @user.username.capitalize! %>! </h3>

<h3>Order History</h3>
<% @user.orders.each do |order| %>
    <ul>
        <li><%= link_to order.created_at.strftime("%b-%d %l:%M %p"), order_path(order) %>   |   Total $<%= order.total %> <br></li>
    </ul>
<% end %>

