/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .display {
  position: fixed;
  margin: 100px auto;
  position: absolute;
  right: 150px;
 }

 .display a {
  float: right;
  color: #black;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'copperplate gothic light'
 }

 .display a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.display a.active {
  background-color: #4CAF50;
  color: white;
}

 h1 { 
  float: right;
  padding-right: 170px;
  font-weight: bold; 
  font-size: 40pt;
  line-height: 14pt; 
  font-family: 'merienda'; 
  font-variant: normal;
  font-style: normal;
}


 body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

 .nav {
      overflow: hidden;
      padding: 30px; 
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: right;
    color: #black;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'copperplate gothic light'
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: #4CAF50;
    color: white;
  }

