/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .logo {
  color: black;
  position: fixed;
  margin: 100px auto;
  position: absolute;
  left: 500px;
  font-weight: bold; 
  font-size: 65pt;
  line-height: 14pt; 
  font-family: 'merienda';
 }

 .show {
  background-color: black;
 }

 .display {
  margin: 100px auto;
  position: static;
  
 }

 .display a {
  position: static;
  padding-left: 560px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-family: 'copperplate gothic light';
 }

 .display a:hover {
  /* background-color: #ddd; */
  color: black;
  font-weight: bold;
}

.alert {
  color: blue;
  overflow: hidden;
  padding: 15px auto;
  position: absolute;
  top: 200px;
  left: 565px;
  font-weight: bold; 
  font-size: 20pt;
  line-height: 20pt; 
  font-family: 'merienda';
}
/* Add a color to the active/current link */
 h1 { 
  color: black;
  position: fixed;
  margin: 30px auto;
  position: absolute;
  left: 565px;
  font-weight: bold; 
  font-size: 40pt;
  line-height: 14pt; 
  font-family: 'merienda'; 
}

 body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

 .nav {
      overflow: hidden;
      padding: 30px; 
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'copperplate gothic light'
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  .product {
    width: 35%;
    height: 50%;
    margin: auto;
    position: static;
    padding-right: 250px;
    padding-top: 100px;
    float: right;
  }

  .display .button {
  position: static;
  padding-left: 560px;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  font-family: 'copperplate gothic light';
   }

  .login {
    width: 35%;
    height: 50%;
    margin: auto;
    position: static;
    padding-right: 180px;
    padding-top: 50px;
    float: right;
  }

  .login h1 {
    color: black;
    position: static;
    font-weight: bold; 
    font-size: 40pt;
    line-height: 14pt; 
    font-family: 'merienda'; 
  }

  .category_link a {
      color: black;
      margin: 30px auto;
      position: static;
      left: 565px;
      font-weight: bold; 
      font-size: 40pt;
      line-height: 14pt; 
      font-family: 'merienda'; 
      text-decoration: none;
  }