<h1>Healthy Dose Cafe</h1>
<div class= "display">
<h3>Add new product to <%=@category.name%></h3>
<br>
<br>
<%= render partial: '/layouts/errors', locals: {object: @product} %>

<%= render partial: '/layouts/products'%>
</div>
